---
import { YouTube } from "@astro-community/astro-embed-youtube";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embed Test</title>
</head>
<body>
  <h1>YouTube Embed Test</h1>
  <YouTube id="https://www.youtube.com/watch?v=F53svE8ymYQ" />
</body>
</html> 